.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-family: Roboto;
    -fx-text-fill: #330000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color:
            linear-gradient(#957337, #743a00),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-family: Roboto;
    -fx-text-fill: #330000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}


.text-field {

    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-background-radius: 10;

    -fx-border-color: #957337;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-family: Roboto;
    -fx-text-fill: #330000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.radio-button .radio {
    -fx-border-width: 3px;
    -fx-border-color: #330000;
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

/*
.radio-button .radio:selected {
    -fx-background-color: #F2BA44;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: transparent;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
*/

.radio-button > .text {
    -fx-text-fill: #330000;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.check-box {
}

.check-box > .text {
    -fx-color: #330000;
    -fx-text-fill: #330000;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
}

.text-area {
    -fx-text-fill: #330000;
    -fx-font-family: Roboto;
    -fx-font-size: 14Px;
}

.text-area .content {
    -fx-background-color: #ffef84;
}

#msgText {
    -fx-font-family: Roboto;
}

#msgRect {
    -fx-background-color: gray;
    -fx-opacity: 0.2;
    -fx-border-radius: 50;
}

